<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1 class=hadline>
    Welcome to
    <br>Yitzhak Maharat Resume!
  </h1>
  <h2>Full Stack Web Developer</h2>
</div>
<br>
<div>
  <h3 class="OpeningSentence">
    <strong>Summary:</strong>
  </h3>
  <p class="OpeningSentence">
    <strong>Full Stack key in a .NET</strong>
    environment with
    <strong> self-learning,</strong> curiosity, detail reduction and control of technologies.</p>
  <p class="OpeningSentence"> Experienced in providing service, high responsibility and ability to cope in stress situations. Looking for a role that
    will ful ll my skills and abilities.</p>
</div>
<br>
<br>
<br>
<br>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div style="margin-left: auto;">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ol class="nav navbar-nav">
          <li>
            <a href="#Education">Education</a>
          </li>
          <li>
            <a href="#Skills">Skills</a>
          </li>
          <li>
            <a href="#Projects">Projects</a>
          </li>
          <li>
            <a href="#Employment">Employment</a>
          </li>
          <li>
            <a href="#Volunteering">Volunteering</a>
          </li>
          <li>
            <a href="#Links">Links</a>
          </li>
          <li>
            <a href="#Various">Various</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<div id="Education" class="container-fluid">
  <h1>Education</h1>

  <h3 class="SecondTitle">
    <strong> Career Israel</strong>
  </h3>
  <h4>2017</h4>
  <p> Certicate of Completion Software Engineering 2017
    <br> Web development and web application development course.</p>
  <p> We studied at the Tech-Career Technology Training Center, with a duration of 800 hours in dormitory conditions.
    <br>
    <strong> Certicate : MS Programming C# 70-483.</strong>
  </p>
  <br>

  <h3 class="SecondTitle">
    <strong>HIT College,Holon</strong>
  </h3>
  <h4>2015</h4>
  <p>Holon Certicate 2015 Pre-Academic Preparatory Program.</p>
</div>
<div id="Skills" class="container-fluid">
  <h1>Skills</h1>
  <span class="SecondTitle">
    <strong> Workspace:</strong>
  </span>
  <p>Microsoft Visual Studio 2016/2017, Visual Studio Code.
  </p>
  <h3 class="SecondTitle">
    <strong>Client-Side (FrontEnd)</strong>
  </h3>
  <p>HTML5, CSS, JavaScript, jQuery, Angular2-5, Ajax, XML. </p>
  <h3 class="SecondTitle">
    <strong>Server-Side (BackEnd)</strong>
  </h3>
  <p>C#, OOP (Object-Oriented Programming), ASP.NET MVC 5, ADO.NET - Entity Framework.</p>
  <h3 class="SecondTitle">
    <strong>DateBase</strong>
  </h3>
  <p>MS-SQL Database Programming</p>
</div>
<div id="Projects" class="container-fluid">
  <h1>Projects</h1>
  <h3 class="SecondTitle">
    <strong>WebSite Rating Restaurants </strong>
  </h3>
  <br>
  <p>
    <strong> Frontend : </strong> Angular 2.</p>
  <p>
    <strong> Backend : </strong> Server Web API based on REST, Database SQL In Realization Entity-Framework.</p>
  <h3 class="SecondTitle">
    <strong>A Movie Rental Site </strong>
  </h3>
  <br>
  <p>Frontend : HTML5 , CSS , Ajax , jQuery , JavaScript. Backend : C# , database SQL In realization LINQ.</p>

  <p>If you want to see the projects ... there are links on the site
    <a href="#Links">click here</a>
  </p>
</div>
<div id="Employment" class="container-fluid">
  <h1>Employment</h1>
  <h3 class="SecondTitle">
    <strong>2016-2017: AM/PM, Tel Aviv, warehouse manager.</strong>
  </h3>
  <ol style="font-size: 18px;">
    <li>Receiving and removing goods, arranging and organizing the warehouse.</li>
    <li>Handling of expired items and managing computerized inventory.</li>
    <li>Responsibility for receiving and training new warehouses.</li>
    <li>Position required: Timeliness, order and organization, responsibility, teamwork, seriousness.</li>
  </ol>
  <h3 class="SecondTitle">
    <strong>2016 - 2017: Sirka, company marketing office equipment throughout the country.</strong>
  </h3>
  <ol style="font-size: 18px;">
    <li>Receiving and issuing invitations.</li>
    <li>Handling of expired items and managing computerized inventory.</li>
    <li>Responsible for the removal of trucks in time.</li>
  </ol>
  <h3 class="SecondTitle">
    <strong>2013-2014: Astral Hotels Chain, Eilat. Responsible for dining room.</strong>
  </h3>
  <ol style="font-size: 18px;">
    <li>Staff management of waiters, submission of packets, inventory management equipment.</li>
    <li>• The job required a great deal of responsibility, work during stressful hours.</li>
  </ol>
</div>
<div id="Volunteering" class="container-fluid">
  <h1>Volunteering</h1>
  <h3 class="SecondTitle">
    <strong> 2004-2008: Active in "Masa El Zion". </strong>
  </h3>
  <p> working with children and adults from the Ethiopian community, trips, enrichment activities and more.</p>
  <h3 class="SecondTitle">
    <strong> 2007-2008: Active in the Association of Ethiopian-Israelis in Bat Yam. </strong>
  </h3>
  <p> raising money, supporting families, helping with homework. </p>

</div>
<div id="Links" class="container-fluid">
  <h1>Links</h1>
  <div>
    <tabs class="SecondTitle">
      <tab tabTitle="Rating Restaurants">
        I am A content
      </tab>
      <tab tabTitle="Movie Rental">
        I am B content
      </tab>
      <tab tabTitle="Waiting list" active="true">
        I am C content
      </tab>
      <tab tabTitle="Move the Circle" active="true">
        <p></p>
        To play The Game Click Here.
      </tab>
    </tabs>
  </div>
</div>
<div id="Various" class="container-fluid">
  <h1>Various</h1>
  <h3 class="SecondTitle">
    <strong>2004-2008: Full matriculation Yeshivat Elyashiv, Lod.</strong>
  </h3>
  <h3 class="SecondTitle">
    <strong>2008-2010: Yeshivat Hesder Tefahot, Carmiel.</strong>
  </h3>
  <h3 class="SecondTitle">
    <strong> 2010-2013: Military Service, Border Guard, Fighter.</strong>
  </h3>
  <h3 class="SecondTitle">
    <strong>2015: Pre-academic preparatory program at HIT College, Holon.</strong>
  </h3>
  <h3 class="SecondTitle">
    <br>
    <strong>Languages</strong>
  </h3>
  <p> Hebrew: Mother tongue.
    <br> English: Very good.</p>
</div>