<configuration>
    <system.webServer>
        <rewrite>
        <rules>
            <rule name="redirect all requests" stopProcessing="ture">
                <match url="^(.*)$" ignorecase="false"/>
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile"
                        negate="true" pattern="" ignorecase="false"/>
                </conditions>
                <action type="Rewrite" url="index.html" appendQueryString="true"/>
            </rule> 
        <rules>   
    </rewrite>
    </system.webServer>
</configuration>